{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Our BlogPost App</title>
  <link rel="stylesheet" href="{% static 'posts/main.css' %}" />
</head>

<body>
  <nav class="navbar">


    <div class="navbar-logo"><a href="/">
        <img class="logo" src="{% static 'posts/logo.png' %}" alt="logo" />


      </a>
    </div>
    <ul class="navbar-links">

      <li><a href="{% url 'home' %}" class="{% if request.path == '/' %}active{% endif %}">Home </a></li>
      <li><a href="{% url 'blogposts' %}" class="{% if request.path == '/blogposts' %}active{% endif %} ">My Blogpost
          Page</a></li>

      <li>
        <a href="/" class="{% if request.path == '/' %}active{% endif %}">Sign in As: User 1</a>
      </li>
    </ul>
  </nav>
  <div>
    {% block content %}
    {% endblock %}
  </div>


</body>

</html>